<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<script th:inline="javascript">

    var token = [[${token}]];

    var socket = new WebSocket("ws://127.0.0.1:8001");
    socket.onopen = function (e) {
        // alert("[open] Соединение установлено");
        // alert("Отправляем данные на сервер");
        socket.send(token);
    };
    socket.onmessage = function (message) {
        // alert('[message] Данные получены с сервера: ' + message.data)
    };
    socket.onclose = function (close) {
        if (close.wasClean) {
            // alert('[close] Соединение закрыто чисто, код=' + close.code + ' причина=' + close.reason);
        } else {
            // например, сервер убил процесс или сеть недоступна
            // обычно в этом случае event.code 1006

            // alert('[close] Соединение прервано ' + token);
        }
    };
    socket.onerror = function (error) {
        alert('[error] ' + error.message);
    };

</script>
<head>
    <title>Online Interactive Cinema: Authorization</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<h2 th:text="'Welcome in OnlineInteractiveCinema '+${name}+ '!'"/>
</body>
</html>